.position {
  width: 300px;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  border: Solid 1px rgb(209, 209, 209);
  margin-bottom: 10px;
  text-align: center;
}

.position_name {
  font-size: 16px;
}
